<h3 class="ui header">{{t "forms.i-i-s-shop-document-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.number
      class=(if (v-get validationObject "number" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-document-e.number-caption")
      data-test-i-i-s-shop-document-e-number=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "number" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-shop-document-e.createDate-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.createDate
      class=(if (v-get validationObject "createDate" "isInvalid") "error")
      data-test-i-i-s-shop-document-e-createDate=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "createDate" "message")}}
  </div>

</form>