<h3 class="ui header">
   {{#if model.isNew}}
    Новый сотрудник
  {{/if}}
   {{#unless model.isNew}}
   {{t "forms.i-i-s-shop-employee-e.caption"}}
    № {{model.number}}
  {{/unless}}
</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  {{!-- <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.number
      class=(if (v-get validationObject "number" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.number-caption")
      data-test-i-i-s-shop-employee-e-number=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "number" "message")}}
  </div> --}}
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.lastName
      class=(if (v-get validationObject "lastName" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.lastName-caption")
      data-test-i-i-s-shop-employee-e-lastName=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "lastName" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.firstName
      class=(if (v-get validationObject "firstName" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.firstName-caption")
      data-test-i-i-s-shop-employee-e-firstName=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "firstName" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.middleName
      class=(if (v-get validationObject "middleName" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.middleName-caption")
      data-test-i-i-s-shop-employee-e-middleName=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "middleName" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.phoneNumber
      class=(if (v-get validationObject "phoneNumber" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.phoneNumber-caption")
      data-test-i-i-s-shop-employee-e-phoneNumber=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "phoneNumber" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.email
      class=(if (v-get validationObject "email" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.email-caption")
      data-test-i-i-s-shop-employee-e-email=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "email" "message")}}
  </div>
  <div class="field" data-test-i-i-s-shop-employee-e-position="true">
    <label>{{t "forms.i-i-s-shop-employee-e.position-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-shop-position-list")
      value=model.position
      class=(if (v-get validationObject "position" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "position" "message")}}
  </div>
</form>