<h3 class="ui header">
   {{#if model.isNew}}
    Новый заказ
  {{/if}}
  {{#unless model.isNew}}
   {{t "forms.i-i-s-shop-order-e.caption"}}
         {{model.number}}
        {{/unless}}
  
  </h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
       {{#unless model.isPaidOrCanceled}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
             {{/unless}}
        {{#unless model.isNew}}
          {{#unless model.isPaidOrCanceled}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
          {{/unless}}
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  {{!-- <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.number
      class=(if (v-get validationObject "number" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-order-e.number-caption")
      data-test-i-i-s-shop-order-e-number=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "number" "message")}}
  </div> --}}
  <div class="field" data-test-i-i-s-shop-order-e-status="true">
    <label>{{t "forms.i-i-s-shop-order-e.status-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-shop-order-status")
      value=model.status
      class=(if (v-get validationObject "status" "isInvalid") "error")
      readonly=model.isPaidOrCanceled 
    }}
    {{flexberry-validationmessage error=(v-get validationObject "status" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-shop-order-e.createDate-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=model.isPaidOrCanceled
      value=model.createDate
      class=(if (v-get validationObject "createDate" "isInvalid") "error")
      data-test-i-i-s-shop-order-e-createDate=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "createDate" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-shop-order-e.manager-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.manager
      class=(if (v-get validationObject "manager" "isInvalid") "error")
      displayAttributeName="nameWInitials"
      lookupLimitPredicate=managerLimitPredicate
      autocomplete=true
      relationName="manager"
      projection="EmployeeL"
      title=(t "forms.i-i-s-shop-order-e.manager-caption")
      readonly=model.isPaidOrCanceled 
      componentName="managerLookup"
      class=(if (v-get validationObject "manager" "isInvalid") "error")
      data-test-i-i-s-shop-order-e-manager=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "manager" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.actualTotalSum
      class=(if (v-get validationObject "totalSum" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-order-e.totalSum-caption")
      data-test-i-i-s-shop-order-e-totalSum=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "totalSum" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-shop-order-e.paymentDate-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=model.isPaidOrCanceled 
      value=model.paymentDate
      class=(if (v-get validationObject "paymentDate" "isInvalid") "error")
      data-test-i-i-s-shop-order-e-paymentDate=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "paymentDate" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-shop-order-e.shipmentDate-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.shipmentDate
      class=(if (v-get validationObject "shipmentDate" "isInvalid") "error")
      data-test-i-i-s-shop-order-e-shipmentDate=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "shipmentDate" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-shop-order-e.orderItem-caption"}}</label>
    {{flexberry-groupedit 
      componentName="orderItemGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.orderItem
      content=model.orderItem
      readonly=model.isPaidOrCanceled 
      orderable=false
      configurateRow=(action "configurateOrderItemRow")
      class=(if (v-get validationObject "orderItem" "isInvalid") "error")
      data-test-i-i-s-shop-order-e-orderItem=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "orderItem" "message")}}
  </div>
</form>